<h1> Welcome to GameFaces! Login below! </h1>

<form action="<%= session_url %>" method="post">
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>"
  >
  <label for="username">Username</label>
  <input type="text" name="user[username]" id="username" value="">
  <label for="password">Password</label>
  <input type="password" name="user[password]" id="password" value="">

  <button>Submit</button>

  <form class="guest" action="<%= session_url %>" method="post">
    <input type="hidden" name="user[username]" value="Mario">
    <input type="hidden" name="user[password]" value="password">
    <button> Log in as Mario! </button>
  </form>
</form>
