<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1> Welcome to GameFaces! Sign up below! </h1>

    <form action="<%= users_url %>" method="post">
      <input
        type="hidden"
        name="authenticity_token"
        value="<%= form_authenticity_token %>"
      >
      <label for="username">Username</label>
      <input type="text" name="user[username]" id="username" value="">
      <label for="password">Password</label>
      <input type="text" name="user[password]" id="password" value="">
      <label for="fname">First Name</label>
      <input type="text" name="user[fname]" id="fname" value="">
      <label for="lname">Last Name</label>
      <input type="text" name="user[lname]" id="lname" value="">
      <label for="date_of_birth">Date of Birth</label>
      <input type="date" name="user[date_of_birth]" id="date_of_birth" value="">

      <button>Submit</button>
    </form>

  </body>
</html>
