html, body, header, nav, h1, a,
ul, li, strong, main, i,
section, div, h2, p, form,
fieldset, label, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: helvetica, arial, sans-serif;
  color: inherit;
  text-align: inherit;
  list-style: none;
  text-decoration: none;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  border-radius: 3px;
}

body {
  margin: 0px;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  -webkit-appearance: none;
  -moz-appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

/* Clearfix */

.group:after {
  content: "";
  display: block;
  clear: both;
}
