.about-container {
  width: 851px;
  margin: auto;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.about-header {
  margin: auto;
  text-align: left;
  display: block;
  font-size: 20px;
  padding-top: 16px;
  padding-bottom: 12px;
  padding-left: 15px;
  background-color: rgb(237, 240, 245);
  border-bottom: 1px solid #ccc;
  border-radius: 3px;
}

.about-nav {
  float: left;
  width: 299px;
}

.about-list {
  float: right;
  border-left: 1px solid #ccc;
  width: 550px;

}

.about-list > li {
  border-bottom: 1px solid #ccc;
  padding: 5px;
  font-family: helvetica, arial, sans-serif;
}

.category-name {
  display: inline-block;
  padding: 10px;
  padding-left: 15px;
  font-family: helvetica, arial, sans-serif;
}
