.comment-item {
  display: block;
  width: 508px;
  border-bottom: 1px solid #ccc;
  border-radius: 3px;
}

.timeline-index-item-comment-content {
  margin-bottom: 10px;
}

.timeline-index-item-comments-list {
  border: none;
}

.comment-item {
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 50px;
  position: relative;
}

.comment-header {
  display: block;
  width: 500px;
  height: auto;
  float: left;
  text-align: left;
  font-size: 10px;
  display: block;
  padding-top: 10px;
  margin: 10px;
  margin-left: 15px;
  padding: 0px 12px 0px 0px;
  font-family: helvetica, arial, sans-serif;
  line-height: 16.08px;
  font-weight: 600;
}

.comment-header > span {
  float: left;
  width: 375px;
  margin-top: 0px;
  text-align: left;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 0px;
}

.comment-header > span > div {
  float: left;
  margin-top: 0px;
  padding-right: 10px;
  font-size: 12px;
  font-weight: bold;
  width: auto;
  color: #3a5795;
}

.comment-header > span > div > a {
  text-decoration: none;
  color: #3a5795;
}

.comment-timestamp {
  float: left;
  margin: 0px;
  margin-top: 0px;
  padding: 0px;
  margin-left: 10px;
  font-size: 10px;
  font-weight: 400;
  color: #ccc;
}

.comment-form-container {
  position: relative;
  background: rgb(246, 247, 248);
}

.comment-thumbnail {
  width: 30px;
  height: 30px;
  top: 4px;
  left: 15px;
  position: absolute;
}

.comment-form-thumbnail {
  width: 30px;
  height: 30px;
  bottom: 5px;
  left: 15px;
  position: absolute;
}

.comment-form-input {
  overflow: auto;
  border-radius: 3px;
  background-color: white;
}
