.comment-item {
  display: block;
  width: 508px;
  border-bottom: 1px solid #ccc;
}

.comment-header {
  display: block;
  width: 500px;
  height: auto;
  float: left;
  text-align: left;
  font-size: 10px;
  display: block;
  margin: 0px;
  margin-left: 10px;
  padding: 0px 12px 0px 0px;
  font-family: helvetica, arial, sans-serif;
  line-height: 16.08px;
  font-weight: 600;
}


.comment-header > div {
  float: left;
  margin: 0px;
  padding: 0px;
  padding-right: 10px;
  font-size: 12px;
  font-weight: bold;
  width: auto;
  color: #3a5795;
}
.comment-header > p {
  float: left;
  margin-top: 0px;
  text-align: left;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: -7px;
}

.comment-timestamp {
  float: left;
  margin: 0px;
  margin-top: 0px;
  padding: 0px;
  margin-left: 10px;
  font-size: 10px;
  font-weight: 400;
  color: #ccc;
}
