.friends-container {
  width: 851px;
  margin: auto;
  margin-top: 10px;
  background-color: white;
  border: 1px solid #ccc;
}

.friends-header {
  margin: auto;
  text-align: left;
  display: block;
  font-size: 20px;
  padding-top: 16px;
  padding-bottom: 12px;
  padding-left: 15px;
  background-color: rgb(237, 240, 245);
  border-bottom: 1px solid #ccc;
  font-weight: 500;
}

.friends-list {
  width: 850px;
  padding: 0px;
  margin: auto;
}

.friend-item {
  float: left;
  width: 392px;
  padding: 5px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.friend-picture-container {
  float: left;
  width: 100px;
  height: 100px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 0px;
  margin-right: 10px;
}

.friend-picture {
  width: 100%;
  height: 100%;
}

.friend-name {
  display: block;
  margin: 0px 0px 0px 10px;
  padding-left: 10px;
  padding: 0px;
  font-size: 16px;
  font-weight: bold;
  color: #3a5795;
}
