.header {
  background-color: #3a5795;
  height: 82px;
}

.nav-header {
  width: 980px;
  margin: 0 auto;
  background-color: #3a5795;
  padding: 5px;
  height: 72px;
}

.left-side-header {
  float: left
}

.header-logo {
  margin: 5px;
  width: 28px;
  height: 28px;
  border: 1px solid #3a5795;
  float: left;
}

.header-text {
  float: left;
  margin-top: 20px;
}

.header-text > a {
  text-decoration: none;
  font-family: helvetica, arial, sans-serif;
  font-weight: 600;
  font-size: 36px;
  color: white;
}

.nav-search-field {
  display: none;
  margin: 5px;
  width: 400px;
  height: 25px;
  background: white;
  border: 1px solid black;
  border-radius: 4px;
  float: left;
}

.sign-in-header{
  float: right;
  width: 500px;
}

.signed-in-header {
  float: right;
  width: 250px;
  margin-top: 30px;
  color: white;
  font-family: helvetica, arial, sans-serif;
}

.signed-in-header-name{
  display: inline;
  color: white;
  margin-top: 30px;
  padding: 1px;
}

.signed-in-header-name:hover {
  background-color: #0e1f56;
}

.sign-in-header-form {
  float: left;
  margin-top: 10px;
  margin-left: 115px;
}


.mario-log-in {
  margin: auto;
  background-color: #3a5795;
  color: #fff;
  border: 1px solid black;
  font-weight: 700;
  font-family: helvetica, arial, sans-serif;
  line-height: 13px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
  font-size: 16px;
  margin-left: 125px;
  margin-top: 30px;
  height: 40px;
}

.log-out {
  margin: auto;
  background-color: #3a5795;
  color: #fff;
  border: 1px solid black;
  font-weight: 700;
  font-family: helvetica, arial, sans-serif;
  line-height: 13px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
  font-size: 16px;
  margin-left: 125px;
  margin-top: 30px;
  height: 40px;
}

.mario-log-in:hover {
  background-color: red;
}

.log-out:hover {
  background-color: red;
}

.sign-in-header-form > label {
  float: left;
  font-family: helvetica, arial, sans-serif;
  font-size: 12px;
  line-height: 16.08px;
  width: 160px;
  color: #fff;
}

.sign-in-header-form > button {
  float :right;
  margin-right: 10px;
  background-color: #3a5795;
  color: #fff;
  border: 1px solid black;
  font-weight: 700;
  font-family: helvetica, arial, sans-serif;
  line-height: 13px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
  font-size: 12px;
}

.sign-in-header-form > input {
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
  height: 14px;
  width: 142px;
  padding: 3px 3px 4px 3px;
}
