.position-corrector {
  display: block;
  width: 100%;
  height: 42px;
  margin: 0 auto;
  padding: 0px;
  z-index: 1;
  color: #3a5795;
  background-color: #3a5795;
}

.header {
  position: fixed;
  background-color: #3a5795;
  height: 42px;
  border-bottom: 1px solid rgb(19, 55, 131);
  border-radius: 0px;
  box-shadow: rgba(0, 0, 0, 0.521569) 0px 2px 2px -2px;
  width: 100%;
  z-index: 2;
}

.nav-header {
  width: 1030px;
  margin: 0 auto;
  background-color: #3a5795;
  padding: 0px;
  padding-left: 60px;
  height: 42px;
  border-bottom: 1px solid rgb(19, 55, 131);
  border-radius: 0px;
  box-shadow: rgba(0, 0, 0, 0.521569) 0px 2px 2px -2px;
  position: relative;
}

.left-side-header {
  float: left
}

.header-logo {
  margin: 5px;
  width: 28px;
  height: 28px;
  border: 1px solid #3a5795;
  float: left;
}

.header-text {
  float: left;
  margin-top: 0px;
  margin-right: 20px;
}

.header-text > a {
  text-decoration: none;
  font-family: helvetica, arial, sans-serif;
  font-weight: 600;
  font-size: 36px;
  color: white;
}

.nav-search-field {
  margin: 25px;
  margin-top: 5px;
  width: 418px;
  height: 25px;
  background: white;
  border: 1px solid black;
  border-radius: 4px;
  float: left;
  position: relative;
}

.sign-in-header{
  float: right;
  width: 420px;
}

.signed-in-header {
  float: right;
  width: 170px;
  margin-right: 90px;
  color: white;
  font-family: helvetica, arial, sans-serif;
}

.signed-in-header-name{
  display: inline;
  color: white;
  text-decoration: none;
  margin-top: 0px;
  margin-left: -15px;
}

.signed-in-header-name > a {
  float: left;
  display: inline-block;
  cursor: pointer;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 5px;
  text-decoration: none;
}

.sign-in-header-form {
  float: left;
  margin-top: 1px;
  margin-left: 60px;
}


.mario-log-in {
  margin: auto;
  background-color: #5b74a8;
  color: #fff;
  border: 1px solid #999;
  font-weight: 700;
  font-family: helvetica, arial, sans-serif;
  line-height: 1.5;
  border-color: #2f477a #29447e #1a356e;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
  font-size: 16px;
  margin-left: 30px;
  margin-top: 5px;
  height: auto;
  padding: 2px 6px;
}

.facebook-log-in {
  margin: auto;
  background-color: #5b74a8;
  color: #fff;
  border: 1px solid #999;
  font-weight: 700;
  font-family: helvetica, arial, sans-serif;
  line-height: 1.5;
  border-color: #2f477a #29447e #1a356e;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
  font-size: 16px;
  margin-top: 5px;
  height: auto;
  padding: 2px 6px;
}

.facebook-link {
  margin-left: 30px;
}

.log-out {
  float: right;
  margin: auto;
  background-color: rgb(78, 105, 162);
  color: #fff;
  border: 1px solid black;
  border-bottom-color: rgb(51, 76, 131);
  border-left-color: rgb(60, 84, 136);
  border-right-color: rgb(60, 84, 136);
  border-top-color: rgb(67, 90, 139);
  font-weight: 700;
  font-family: helvetica, arial, sans-serif;
  line-height: 22px;
  box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 1px 0px;
  font-size: 12px;
  margin-top: 7px;
}

.sign-in-header-form > label {
  float: left;
  font-family: helvetica, arial, sans-serif;
  font-size: 12px;
  line-height: 16.08px;
  width: 140px;
  color: #fff;
}

.sign-in-header-form > button {
  float :right;
  margin-right: 23px;
  background-color: #3a5795;
  color: #fff;
  border: 1px solid black;
  font-weight: 700;
  font-family: helvetica, arial, sans-serif;
  line-height: 13px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
  font-size: 12px;
}

.sign-in-header-form > input {
  margin-right: 10px;
  margin-bottom: 5px;
  border: 1px solid black;
  height: 14px;
  width: 122px;
  padding: 3px 3px 4px 3px;
}
