.sign-in-header{
  display: block;
  background-color: #3a5795;
  border-bottom: 1px solid black;
}

.sign-up-container {
  display: block;
  height: 608px;
  background-color: rgb(237, 240, 245);
}

.sign-up-container-inner {
  width: 908px;
  margin: auto;
  background-color: inherit;
}

.sign-in-header-inner {
  display: block;
  background-color: #3a5795;
  width: 980px;
  margin: auto;
}

.sign-up-container-inner > h1 {
  margin: auto;
  text-align: center;
  padding-top: 15px;
}

.sign-in-header-inner > h1 {
  float: left;
  color: #fff;
  font-family: helvetica, arial, sans-serif;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 31px;
}

.sign-up-container-inner > form  {
  float: right;
  display: block;
  width: 420px;
  color: #000;
  font-family: helvetica, arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  margin-top: 15px;
}


.sign-in-header-inner > form {
  float: right;
  color: #fff;
  font-family: helvetica, arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  margin-top: 31px;
}

.sign-up-container-inner > form > input {
  border: 1px solid black;
  height: 21px;
  width: 172px;
  padding: 8px 10px;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.sign-up-container > form > label {
  padding-right: 10px;
}

.sign-in-header-inner > form > input {
  border: 1px solid black;
  height: 14px;
  width: 142px;
  padding: 4px 3px;
}

.sign-in-header-inner > form > button {
  background-color: #5b74a8;
  color: #fff;
  border: 1px solid black;
}

.guest > button {
  background-color: #5b74a8;
  color: #fff;
  border: 1px solid black;
}

.guest {
  margin-bottom: 5px;
}
