.like-comment-bar {
  width: 95%;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin: 3px auto;
  margin-bottom: 0px;
  height: 25px;
  position: relative;
}

.like-button-blue {
  display: inline-block;
  height: 17px;
  margin: 0px 0px;
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
  color: rgb(88, 144, 255);
}

.like-button-gray {
  display: inline-block;
  height: 17px;
  margin: 0px 0px;
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
  color: #bbb;
}

.like-button-gray:hover, .like-button-blue:hover {
  cursor: pointer;
}

.like-button-blue::before, .like-button-gray::before {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 3px;
  margin-top: 5px;
  content: "";
  background: image-url("carl.jpeg") no-repeat 0 0;
  background-size: 100%;
}
