.main-timeline-container {
  width: 850px;
  background: transparent;
  margin: 0 auto;
  margin-top: 10px;
}

.main-timeline-center {
  width: 510px;
  margin: 0 auto;
}

.main-timeline-index {
  padding: 0px;
}

.timeline-photo-preview-container {
  width: 510px;
  height: 300px;
  margin: auto;
}

.timeline-photo-preview-container:hover {
  cursor: pointer;
}
