.photo-comment-container {
  background-color: rgb(246, 247, 248);
  border-top: 1px solid #ccc;
}

.photo-comment-item {
  display: block;
  width: 508px;
  border-bottom: 1px solid #ccc;
}

.photo-comment-item {
  border: none !important;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 40px;
  position: relative;
}

.photo-comment-thumbnail {
  width: 30px;
  height: 30px;
  bottom: 5px;
  left: 15px;
  position: absolute;
}


.photo-comment-header {
  display: block;
  width: 500px;
  height: auto;
  float: left;
  text-align: left;
  font-size: 10px;
  display: block;
  padding-top: 10px;
  margin: 0px;
  margin-left: 5px;
  padding: 0px 12px 0px 0px;
  font-family: helvetica, arial, sans-serif;
  line-height: 16.08px;
  font-weight: 600;
}


.photo-comment-header > span {
  float: left;
  width: 375px;
  margin-top: 0px;
  text-align: left;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 0px;
  margin-left: 10px;
}

.photo-comment-header > span > div {
  float: left;
  margin-top: 0px;
  padding-right: 10px;
  font-size: 12px;
  font-weight: bold;
  width: auto;
  color: #3a5795;
}

.photo-comment-header > span > div > a {
  text-decoration: none;
  color: #3a5795;
}

.photo-comment-timestamp {
  float: left;
  margin: 0px;
  margin-top: 0px;
  padding: 0px;
  margin-left: 15px;
  font-size: 10px;
  font-weight: 400;
  color: #ccc;
}

.comment-delete-button {
  position: absolute;
  top: 5px;
  right: 15px;
  content: image-url("fb_icons/comment_delete_button.png");
  background-position: bottom;
}

.comment-delete-button:hover {
  cursor: pointer;
}
