.photo-index-container {
  width: 851px;
  margin: auto;
}

.photo-index-container > ul {
  width: 850px;
  padding: 0px;
  margin: auto;
}

.photo-index-container > ul > li {
  width: 198px;
  height: 198px;
  border: 2px solid black;
  margin: 5px;
  float: left;
}

.photo-index-container > ul > li > img {
  width: 100%;
  height: 100%;
}
