.photo-index-container {
  width: 851px;
  margin: auto;
  background-color: transparent;
  border: 1px solid #ccc;
}

.photos-header {
  margin: auto;
  text-align: left;
  display: block;
  font-size: 20px;
  padding-top: 16px;
  padding-bottom: 12px;
  padding-left: 15px;
  background-color: rgb(237, 240, 245);
  border-bottom: 1px solid #ccc;
  font-weight: 500;
}

.photo-index-container > ul {
  width: 850px;
  padding: 0px;
  margin: auto;
}

.photo-index-container > ul > div > li {
  width: 198px;
  height: 198px;
  margin: 5px;
  float: left;
}

.photo-index-container > ul > div > li:hover {
  cursor: pointer;
}
