.profile-header-box {
  margin: 0 auto;
  width: 850px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  position: relative;
}

.cover-photo-box {
  margin 0 auto;
  width: 848px;
  height: 315px;
  border: 1px solid black;
}

.profile-picture-box {
  width: 168px;
  height: 168px;
  border: 1px solid black;
  position: absolute;
  left: 26px;
  bottom: 24px;
}

.cover-photo-box > img {
  margin: 0 auto;
  max-width:100%;
  max-height:100%;
}

.profile-picture-box > img {
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
}

.profile-header-box > ul {
  padding: 0px;
  margin: 0px;
  width: 630px;
  height: 43px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  float: right;
}

.profile-nav > li {
  float: left;
  padding: 0px 17px;
  border-left: 1px solid black;
  font-family: helvetica, arial, sans-serif;
  font-weight: bold;
  line-height: 42.7px;
}
