.timeline-container {
  width: 850px;
  background: transparent;
  margin: 0 auto;
}

.timeline-right-side {
  float: right;
  width: 510px;
}

.timeline-index-list {
  padding: 0px;
}

.timeline-index-item {
  border: 1px solid #ccc;
  background-color: white;
  text-align: left;
  margin-bottom: 10px;
}

.timeline-index-item-header {
  text-align: left;
  font-size: 12px;
  display: block;
  margin-top: 10px;
  padding: 0px 12px 0px 10px;
  font-family: helvetica, arial, sans-serif;
  line-height: 16.08px;
  font-weight: 600;
}

.timeline-index-item-header > div {
  margin: 0px;
  margin-bottom: 5px;
  padding: 0px;
  font-size: 14px;
  font-weight: bold;
  color: #3a5795;
}

.timeline-index-item-header > span {
  margin: 0px;
  margin-top: -10px;
  padding: 0px;
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: 400;
  color: #ccc;
}

.timeline-index-item-content {
  display: block;
  margin: 0px;
  padding: 10px 12px 10px 10px;
}

.post-form-container {
  margin-bottom: 10px;
  display: block;
}

.post-form-header {
  display: block;
  border: 1px solid #ccc;
  margin-top: 0px;
  padding: 10px 12px 8px 10px;
  font-family: helvetica, arial, sans-serif;
  font-size: 12px;
  line-height: 16.08px;
  font-weight: 600;
}

.post-form-input-container {
  display: block;
  border: 1px solid #ccc;
  border-top: none;
  background: rgb(246, 247, 248);
}


.post-form-input {
  display: inline-block;
  float: right;
  border: none;
  width: 441px;
  font-size: 14px;
  line-height: 18px;
  min-height: 18px;
  padding: 13px 12px;
  word-wrap: break-word;
  background: rgb(246, 247, 248);
}

.post-form-input-picture {
  display: inline-block;
  height: 30px;
  width: 30px;
  float: left;
  margin: 10px 0px 10px 10px;
  background: rgb(246, 247, 248);
}

.poster-picture {
  display: inline-block;
  height: 30px;
  width: 30px;
  float: left;
  margin-right: 5px;
  background: rgb(246, 247, 248);
}

.post-form-input:focus {
  outline: none;
  background-color: rgb(246, 247, 248);
}

.post-form-footer {
  display: block;
  border: 1px solid #ccc;
  border-top: none;
  padding: 7px 12px 5px 10px;
  background-color: rgb(246, 247, 248);
}

.post-form-button {
  float: right;
  color: white;
  padding: 0px 16px;
  background-color: #3a5795;
  border: 1px solid black;
  font-weight: 600;
  font-size: 12px;
  line-height: 22px;
  vertical-align: baseline;
}

.timeline-index-item > ul {
  padding: 0px;
  border-top: 2px solid #ccc;
  background-color: white;
  text-align: left;
}

.timeline-index-item > ul > li {
  display: block;
  width: 508px;
}

.timeline-index-item > ul > li > h1 {
  display: block;
  width: 500px;
  height: auto;
  float: left;
  text-align: left;
  font-size: 10px;
  display: block;
  margin: 0px;
  margin-left: 10px;
  padding: 0px 12px 0px 0px;
  font-family: helvetica, arial, sans-serif;
  line-height: 16.08px;
  font-weight: 600;
}


.timeline-index-item > ul > li > h1 > div {
  float: left;
  margin: 0px;
  padding: 0px;
  padding-right: 10px;
  font-size: 12px;
  font-weight: bold;
  width: auto;
  color: #3a5795;
}
.timeline-index-item > ul > li > h1 > p {
  float: left;
  width: 355px;
  margin-top: 0px;
  text-align: left;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 0px;
}

.timeline-index-item > ul > li > span {
  float: left;
  margin: 0px;
  margin-top: 0px;
  padding: 0px;
  margin-left: 10px;
  font-size: 10px;
  font-weight: 400;
  color: #ccc;
}

.timeline-index-comment-form {
  display: block;
  width: 508px;
  border: 1px solid #ccc;
}

.comment-form-container {
  width: 508px;
  border-top: 1px solid #ccc;
}

.comment-form-input {
  border: none;
  outline: 1px solid #ccc;
  width: 422px;
  margin: 5px;
  font-size: 12px;
  line-height: 16px;
  height: 12px;
  word-wrap: break-word;
  font-family: helvetica, arial, sans-serif;;
  cursor: text;
  padding: 10px;
  float: right;
}
