.profile-header-box {
  margin: 0 auto;
  width: 850px;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.cover-photo-box {
  margin 0 auto;
  width: 848px;
  height: 315px;
  border: 1px solid black;
}

.cover-photo-box > img {
  margin: 0 auto;
  width: auto;
  height: auto;
}
